@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1700px;
    margin: 0 auto;
}
/* shared style */
.display-flex{
    display: flex;
}
main section{
    margin-top: 130px;
}
.bold{
    font-weight: bold;
    font-size: 2.8rem;
}

/* dark 1 */
.black{
    color: #131313;
}
/* dark 2 */
.medium-gray{
    color: #424242;
}
.high-gray{
    color: #727272;
}
/* orange */
.light-orange{
    background-color: rgba(255, 144, 14, 0.1);}

    .orange{
        background-color: rgba(255, 144, 14, 1);
    }
/* header style */
.navbar,.banner{
    justify-content: space-between;
    margin: 0 auto;
    
    max-width: 1440px;
    width: 100%;
    
}
.nav-links{
    list-style: none;
    
}
.nav-item{
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    
}
.banner-descript{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.brand{
    font-weight: 800;
    font-size: 3.5rem;
}
.banner-img{

    padding-bottom: 3rem;

}
.banner-img img{
    max-width: 100%;
}
.click{
    color: white;
    padding: 20px 24px;
    border-radius: 5px;
    border: none;
}
/* teams style */
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams{
    gap: 73px;
    justify-content: center;
    align-items: center;}
.features{
max-width: 530px;
}
.our-feature{
    font-size: 3rem;
}
.features{
    color:rgba(255, 144, 14, 1);
}
#quick-list{
    font-weight: 500;
}
.fact{
    margin-bottom: 24px;
}
.about-fact{
   max-width: 542px;
   
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.cards{
    border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 5px;
    margin-top: 10px;
}
.card-type{
    font-size: 1.2rem;
    margin: 0 auto;
}
.sponser-details{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.sponser-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 9.5rem;
}
.sponser-img img{
    filter: grayscale(100%);
    max-width: 100%;
}
.feature{
    max-width: 100%;
    justify-content: space-around;
}
.feature-about{
    max-width: 580px;
}
.section-card{
    max-width: 580px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.feature-head{
    font-size: 2.8rem;
    font-weight: 800;
}

.feature-img img{
    
    max-width: 100%;
}
main{
    margin-bottom: 130px;
}
.footer{
    text-align: center
    ;
    padding: 31px;
    max-width: 100%;
}




/* media query */
@media screen and (max-width:576px) {
    .navbar,.teams{
    flex-direction: column;
    margin:0 auto;
    text-align: center;
    /* padding: 5px 10px; */
    
    }
    
.architect{
    font-size: 2rem;
}
.brand{
    font-size: 2rem;
    font-weight: 700;
}
.team-img{
    grid-template-columns: repeat(1,1fr);
}


.card{
    grid-template-columns: repeat(1,1fr);
    
}
.
.facts{
 display: flex;
 flex-direction: column;
 align-items: center;

}
.about-fact{
        padding-left: 10px;
        max-width: 100%;
    }
     .card{
        grid-template-columns: repeat(1,1fr);
        gap:2rem;
        justify-items: center;
}
.feature{
    flex-direction: column;
}
.feature-img img{
    padding: 0;

}
.sponser-img{
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
  justify-items: center;
}


}

@media screen and (min-width:576px) and (max-width:992px) {
  .navbar,.teams{
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    }
    .card{
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        justify-items: center;

        
    }
    .sponser-img{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
  justify-items: center;
}
.feature{
    flex-direction: column;}
.section-card{
    padding: 30px;
    margin: 30px;
}
.feature-img{
    padding: 30px;
    margin: 30px;
}
}


}